:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #FFFFFF;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.texto {
    position: relative;
    height: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

}

.line {
    position: relative;
    height: 20px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

.line::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 25px;
    left: 0;
    height: 5px;
    background: linear-gradient(to right, #0f69b4 0, #0f69b4 50%, #e22c2c 50%, #e22c2c 100%);
}

.lineaNegra {
    border-bottom: 2px solid black;
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
}


.fc * {
    border-radius: 9px;
    color: #000000;
}

.fc .fc-button-primary {
    background-color: #00A7E1;
    border-color: #00A7E1;
    color: #000000;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
}

.fc-daygrid-event {
    white-space: normal;
}

.fc-event-time {
    display: none;
}

.fc-daygrid-day:hover .boton {
    display: block;
}

.fc-daygrid-day:hover .invibleButton {
    display: inline-block;
}

.fc .fc-daygrid-day-number {
    font-size: 1.4em;
}

.fc .fc-scrollgrid {
    border-right-width: 1px;
}

.Listado {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-height: 80vh;
    margin-left: 20px;
}

.invibleButton {
    display: none;
    position: absolute;
    top: 20px;
    right: 130px;
}

a {
    color: #000000;
}

p {
    color: #000000;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

h3 {
    color: #000000;
    line-height: 0.9;
}

h5 {
    color: #000000;
}

li {
    list-style: none;
}

span {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

.my-error2 {
    color: red;
    position: absolute;
    left: 102%;
    white-space: nowrap;
}